{% load static %}

<!DOCTYPE html>
<html lang="de" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>DHBW Notenvergleich {% block title %}{% endblock %} </title>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
    >

    <!-- CSS Files -->
    <!-- TODO: Richtie Bootstrap Version linken -->
    <link
      rel="stylesheet"
      href="{% static 'css/pico.min.css' %}"
    >
  </head>

  {% block javascript %}{% endblock javascript %}

  <nav class="container-fluid">
      <ul>
        <li>
          <a href="./" class="contrast" onclick="event.preventDefault()"><strong>DHBW Notenvergleich</strong></a>
        </li>
      </ul>
      <ul>
        <li>
          <details role="list" dir="rtl">
            <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
            <ul role="listbox">
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>

  <body class="container">
    {% block content %}{% endblock content %} {% include 'includes/scripts.html' %}
    
  </body>
</html>
