{% load static %}

<!DOCTYPE html>
<html lang="de" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>DHBW Notenvergleich {% block title %}{% endblock %} </title>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
    >
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
    >
  </head>

  {% block javascript %}{% endblock javascript %}

  <nav class="navbar navbar-expand-lg bg-body-secondary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="./" onclick="event.preventDefault()"><strong>DHBW-Notenvergleich</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
        <hr>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}?csrfmiddlewaretoken={{ csrf_token }}">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Theme
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" data-bs-theme-value="auto">Auto</a></li>
              <li><a class="dropdown-item" href="#" data-bs-theme-value="light">Light</a></li>
              <li><a class="dropdown-item" href="#" data-bs-theme-value="dark">Dark</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container mt-5">
    {% block content %}{% endblock content %} {% include 'includes/scripts.html' %}
    
  </main>
</html>
