{% block title %} Sign IN {% endblock %} 

{% block body_class %} sign-in-basic {% endblock %}

{% block content %}

  
                    {% if msg %}
                      {{ msg | safe }}
                    {% else %}
                      Add your credentials
                    {% endif %}
              <form role="form" method="post" action="" class="text-start">

                {% csrf_token %}

                    {{ form.username }}
                  {{ form.password }}
                 <input type="checkbox" id="rememberMe">
                  <label for="rememberMe">Remember me</label>
                  <button type="submit" name="login">Sign in</button>
                </p>
              </form>
            </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
