{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign In {% endblock %} 

{% block body_class %} Sign-in-basic {% endblock %}

{% block content %}

  {% if msg %}
    {{ msg | safe }}
  {% else %}
    Dualis Anmeldung
  {% endif %}
  <form role="form" method="post" action="">
    {% csrf_token %}

    {{ form.username }}
    {{ form.password }}

    <input type="checkbox">Daten merken</input>
    <button type="submit">Anmelden</button>
  </form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
