{% extends "layouts/base-fullscreen.html" %} 
{% block title %} Home {%endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    {% if request.user.is_authenticated %}
      <p>Willkommen, {{ request.user.name }}!</p>
    {% else %}
      <p>Du bist nicht eingeloggt!</p>
    {% endif %}
  </div>
  <div class="row">
    <div class="col">
      <h3 class="my-3">Eigene Noten</h3>
      
      <div class="accordion" id="accordion_grades">
        {% for module in own_grades %}
          {% if not module.total_average %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#entry{{ forloop.counter0 }}" aria-controls="entry{{ forloop.counter0 }}">
                  {{ module.module_name }}
                </button>
              </h2>
              <div id="entry{{ forloop.counter0 }}" class="accordion-collapse collapse" data-bs-parent="#accordion_grades">
                <div class="accordion-body">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <strong>Modul</strong>
                      </div>
                      <div class="col">
                        <strong>1. Versuch</strong>
                      </div>
                      <div class="col">
                        <strong>2. Versuch</strong>
                      </div>
                    </div>
                    {% for grade in module.units %}
                      <div class="row">
                        <div class="col">
                          {{ grade.unit_name }}
                        </div>
                        <div class="col">
                          {% if grade.grade_first_attempt %}
                            {{ grade.grade_first_attempt }}
                          {% else %}
                            N/A
                          {% endif %}
                        </div>
                        <div class="col">
                          {% if grade.grade_second_attempt %}
                            {{ grade.grade_second_attempt }}
                          {% else %}
                            N/A
                          {% endif %}
                        </div>
                      </div>
                      <div class="row justify-content-center my-3">
                        {% if grade.grade_first_attempt %}
                          <button class="btn btn-outline-primary" type="button" onclick="compareCharts({{ grade|safe }});">Vergleich</button>
                        {% else %}
                          Vergleich nicht möglich
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% for module in own_grades %}
        {% if module.total_average %}
          <div class="my-3">
            <p><b>Gesamtdurchschnitt: {{ module.total_average|floatformat:3 }}</b></p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div id="comparison" class="col">
      <h3 class="my-3">Vergleiche</h3>
      <div class="border border-2 border-secondary rounded mb-3 p-3">
        <div class="compare">
          <canvas id="comparechart"></canvas>
        </div>
      </div>
      <div class="border border-2 border-secondary rounded mb-3 p-3">
        <div class="miss">
          <canvas id="misschart"></canvas>
        </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  function compareCharts(grade) {
    var coursename = grade.unit_name;
    var compareChartCtx = removeAndCreateCanvas('comparechart');
    var missChartCtx = removeAndCreateCanvas('misschart');

    var compareChartCtx = document.getElementById('comparechart').getContext('2d');
    var missChartCtx = document.getElementById('misschart').getContext('2d');

    var compareChartData = grade.grade_distribution;
    var missChartData = [grade.failure_rate, grade.passing_rate];

    var noten = []; // Noten von 1.0 bis 5.0
    for (var i = 1; i <= 5; i += 0.1) {
      noten.push(parseFloat(i.toFixed(1)));
    }

    var lineChart = new Chart(compareChartCtx, {
      type: 'bar',
      data: {
          labels: noten.map(String),  // Konvertiere Noten in Zeichenketten für die Anzeige
          datasets: [{
              label: 'Anzahl der Schüler',
              data: compareChartData,  // Annahme: compareChartData enthält die Anzahl der Schüler für jede Note
              fill: false,
              borderColor: generateRandomColors(1)[0],
              borderWidth: 2,
              pointBackgroundColor: '#fff',
              pointRadius: 4,
              pointHoverRadius: 6,
          }]
      },
      options: {
          responsive: true,
          scales: {
              y: {
                  beginAtZero: true,
                  stepSize: 1,  // Schrittgröße auf der Y-Achse
              }
              
          },
          plugins: {
              legend: {
                  display: false
              },
              title: {
                  display: true,
                  text: '1. Versuch Notenverteilung - ' + coursename
              },
              tooltip: {
                  mode: 'index',
                  intersect: false,
              }
          }
      }
    });

    var missChart = new Chart(missChartCtx, {
      type: 'doughnut',
      data: {
        labels: ["Durchgefallen", "Bestanden"],
        datasets: [
          {
            data: missChartData,
            backgroundColor: [
              "rgba(255, 99, 132, 0.5)",
              "rgba(75, 192, 192, 0.5)",
            ],
            borderColor: ["rgba(255,99,132,1)", "rgba(75, 192, 192, 1)"],
            borderWidth: 1,
          },
        ],
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: "top",
          },
          title: {
            display: true,
            text: "Durchfallquote - " + coursename,
          },
        },
      },
    });
    document.getElementById('comparison').scrollIntoView({behavior: 'smooth'});
  }
  
  function generateRandomColors(numColors) {
    var colors = [];
    for (let i = 0; i < numColors; i++) {
      var randomColor = 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ', 0.5)';
      colors.push(randomColor);
    }
    return colors;
  }
  

  function removeAndCreateCanvas(chartId) {
    var oldCanvas = document.getElementById(chartId);
  
    if (oldCanvas) {
      // Canvas-Element entfernen
      oldCanvas.parentNode.removeChild(oldCanvas);
    }
  
    // Neues Canvas-Element erstellen
    var newCanvas = document.createElement('canvas');
    newCanvas.id = chartId;
    
    // Dem gewünschten Container hinzufügen
    if (chartId == 'comparechart') {
      var container = document.querySelector('.compare');  // Wähle comparechart aus
    } else {
      var container = document.querySelector('.miss');  // Wähle misschart aus
    }
    container.appendChild(newCanvas);
  
    return newCanvas.getContext('2d');
  }

  document.addEventListener('DOMContentLoaded', function () {
    var moduleNames = document.querySelectorAll('.module-name');
  
    moduleNames.forEach(function (moduleName) {
      moduleName.addEventListener('click', function () {
        var moduleId = moduleName.getAttribute('href').substring(1);
        var moduleRow = document.getElementById(moduleId);
  
        if (moduleRow.classList.contains('show')) {
          moduleRow.classList.remove('show');
        } else {
          moduleRow.classList.add('show');
        }
      });
    });
  });

</script>
{% endblock javascript %}
