{% extends "layouts/base-fullscreen.html" %}

{% block title %} Home {% endblock %}

{% block javascript %}
<script>
	load_data();
</script>
{% endblock javascript %}

{% block content %}

<main>
	{% if request.user.is_authenticated %}
	<p>Willkommen, {{ request.user.name }}!</p>
	{% else %}
	<p>Du bist nicht eingeloggt!</p>
	{% endif %} {% if perms.is_superuser %}
	<p>Du bist ein Admin.</p>
	{% else %}
	<p>Du bist kein Admin.</p>
	{% endif %}
	
	

<a href="{% url 'logout' %}?csrfmiddlewaretoken={{ csrf_token }}">Logout</a>

</main>

{% endblock content %}


```
