{% extends "layouts/base-fullscreen.html" %} 
{% block title %} Home {%endblock title %} 
{% block content %}

<main class="grid-container">
  <div class="grades">
    {% if request.user.is_authenticated %}
    <p>Willkommen, {{ request.user.name }}!</p>
    {% else %}
    <p>Du bist nicht eingeloggt!</p>
    {% endif %} 
  
    <h2>Eigene Noten</h2>
    <table aria-describedby="grades-summary">
      <thead>
        <tr>
          <th>Kurs</th>
          <th>Note (1. Versuch)</th>
          <th>Note (2. Versuch)</th>
          {% if grade.grade_first_attempt %}
            <th>Vergleich</th>
          {% endif %}
          
        </tr>
      </thead>
      <tbody>
        {% for module in own_grades %}
        <tr class="module-row" data-module-id="{{ module.module_id }}">
          <td><b>{{ module.module_name }}</b></td>
        </tr>
          {% for grade in module.units %}
          <tr class="unit-row" data-module-id="{{ module.module_id }}">
              <td>{{ grade.unit_name }}</td>
              <td>
                  {% if grade.grade_first_attempt %}
                    {{ grade.grade_first_attempt }}
                  {% else %}
                    N/A
                  {% endif %}
              </td>
              <td>
                  {% if grade.grade_second_attempt %}
                      {{ grade.grade_second_attempt }}
                  {% else %}
                      N/A
                  {% endif %}
              </td>
              {% if grade.grade_first_attempt %}
              <td><button class="compareButton" type="button"  onclick="compareCharts({{ grade|safe }})">Vergleich</button></td>
              {% endif %}
          {% endfor %}
          <tr class="average-row" data-module-id="{{ module.module_id }}">
            {% if module.total_average %}
            <td><b>Gesamtdurchschnitt: {{ module.total_average }}</b></td>
            {% endif %}
          </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  
  <div class="chart-box">
    <div class="compare">
      <canvas id="comparechart"></canvas>
    </div>
  </div>

  <div class="chart-box">
    <div class="miss">
      <canvas id="misschart"></canvas>
    </div>
  </div>
</main>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Zwei Spalten */
    grid-template-rows: 1fr 1fr; /* Automatische Höhe */
    gap: 20px; /* Abstand zwischen den Spalten */
  }

  .grades, .chart-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    width: 100%; /* Jede Box nimmt die gesamte verfügbare Breite */
    
  }

  .grades {
    grid-column: 1 / 2; /* Position in erster Spalte */
    grid-row: 1 / 3; /* Position in erster Zeile */
  }

  .chart-box {
    grid-column: 2 / 3; /* Position in zweiter Spalte */
    margin-bottom: 20px; /* Abstand zwischen den Diagrammen */
    display: flex; /* Elemente als Flexbox behandeln */
    justify-content: center; /* Inhalt horizontal zentrieren */
    align-items: center; /* Inhalt vertikal zentrieren */
    
  }
  #comparechart{
    grid-row: 1 / 2; /* Position in erster Zeile */
   
  }

  #misschart {
    grid-row: 2 / 3; /* Position in zweiter Zeile */
  }

  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  function compareCharts(grade) {
    var coursename = grade.unit_name;
    var compareChartCtx = removeAndCreateCanvas('comparechart');
    var missChartCtx = removeAndCreateCanvas('misschart');

    var compareChartCtx = document.getElementById('comparechart').getContext('2d');
    var missChartCtx = document.getElementById('misschart').getContext('2d');

    var compareChartData = grade.grade_distribution;
    var missChartData = [grade.failure_rate, grade.passing_rate];

    var noten = []; // Noten von 1.0 bis 5.0
    for (var i = 1; i <= 5; i += 0.1) {
      noten.push(parseFloat(i.toFixed(1)));
    }

    var lineChart = new Chart(compareChartCtx, {
      type: 'line',
      data: {
          labels: noten.map(String),  // Konvertiere Noten in Zeichenketten für die Anzeige
          datasets: [{
              label: 'Anzahl der Schüler',
              data: compareChartData,  // Annahme: compareChartData enthält die Anzahl der Schüler für jede Note
              fill: false,
              borderColor: generateRandomColors(1)[0],
              borderWidth: 2,
              pointBackgroundColor: '#fff',
              pointRadius: 4,
              pointHoverRadius: 6,
          }]
      },
      options: {
          responsive: true,
          scales: {
              y: {
                  beginAtZero: true,
                  stepSize: 1,  // Schrittgröße auf der Y-Achse
              }
              
          },
          plugins: {
              legend: {
                  display: false
              },
              title: {
                  display: true,
                  text: 'Notenverteilung - ' + coursename
              },
              tooltip: {
                  mode: 'index',
                  intersect: false,
              }
          }
      }
    });

    var missChart = new Chart(missChartCtx, {
      type: 'doughnut',
      data: {
        labels: ["Durchgefallen", "Bestanden"],
        datasets: [
          {
            data: missChartData,
            backgroundColor: [
              "rgba(255, 99, 132, 0.5)",
              "rgba(75, 192, 192, 0.5)",
            ],
            borderColor: ["rgba(255,99,132,1)", "rgba(75, 192, 192, 1)"],
            borderWidth: 1,
          },
        ],
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: "top",
          },
          title: {
            display: true,
            text: "Durchfallquote - " + coursename,
          },
        },
      },
    });
    
  }
  
  function generateRandomColors(numColors) {
    var colors = [];
    for (let i = 0; i < numColors; i++) {
      var randomColor = 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ', 0.5)';
      colors.push(randomColor);
    }
    return colors;
  }
  

  function removeAndCreateCanvas(chartId) {
    var oldCanvas = document.getElementById(chartId);
  
    if (oldCanvas) {
      // Canvas-Element entfernen
      oldCanvas.parentNode.removeChild(oldCanvas);
    }
  
    // Neues Canvas-Element erstellen
    var newCanvas = document.createElement('canvas');
    newCanvas.id = chartId;
    
    // Dem gewünschten Container hinzufügen
    if (chartId == 'comparechart') {
      var container = document.querySelector('.compare');  // Wähle comparechart aus
    } else {
      var container = document.querySelector('.miss');  // Wähle misschart aus
    }
    container.appendChild(newCanvas);
  
    return newCanvas.getContext('2d');
  }

  $(document).ready(function(){
    $(".unit-row, .average-row").hide(); // Verstecke alle Unit- und Durchschnittszeilen zu Beginn
  
    $(".module-row").click(function(){
      var moduleId = $(this).data("module-id");
  
      // Verstecke alle Unit- und Durchschnittszeilen
      $(".unit-row, .average-row").hide();
  
      // Zeige nur die Zeilen des ausgewählten Moduls
      $(".unit-row[data-module-id='" + moduleId + "'], .average-row[data-module-id='" + moduleId + "']").show();
    });
  });

  </script>

{% endblock content %}
