{% extends "layouts/base-fullscreen.html" %}

{% block title %} Loading {% endblock %}

{% block content %}

<main>
  <h2 aria-busy=true>Akualisiere Noten...</h2>
</main>

{% endblock content %}

{% block javascript %}
<script>
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "api/refresh_data", true);

  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4) {
      if (xhr.status == 200) {
        // Redirect to a new page
        window.location.href = "{{ redirect_url }}";
      }
    }
  };

  xhr.send();
</script>
{% endblock javascript %}