{% extends "layouts/base-fullscreen.html" %}

{% block title %} Loading {% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center">
  <div class="spinner-border me-3" aria-hidden="true"></div>
  <h2 role="status">Aktualisiere Noten...</h2>
</div>

{% endblock content %}

{% block javascript %}
<script>
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "api/refresh_data", true);

  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4) {
      if (xhr.status == 200) {
        // Redirect to a new page
        window.location.href = "{{ redirect_url }}";
      }
    }
  };

  xhr.send();
</script>
{% endblock javascript %}